@media screen and (max-width:1024px) {


    #header .container {
        padding: 0 100px;
    }

    .container {
        padding: 0 120px;

    }

    /* 헤더구역 */
    #header {

        background-color: #fff;
        color: #000;

    }

    #header #nav {

        transform: translateY(0);

    }


    #header h1.logo a {

        background: url(../img/logo-black.png);



    }

    /* 



  
    */

    #header #nav {

        display: none;

        top: 100%;
        left: 0;

        padding: 10px;
        padding-left: inherit;

        background: #fff;

    }


    #header #nav .depth1>li {
        display: block;
        padding: 10px 0;
    }


    .hamburger-group {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        padding-right: inherit;
    }

    .hamburger-group button {
        border: none;
        color: #000;
        font-size: 30px;
    }
}


@media screen and (max-width:768px) {

    #header .container {
        padding: 0 15px;
    }

    .container {
        padding: 0 15px;
    }

}

